* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	outline: none;
}

html {
	font-size: 62.5%;
}

.wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 60vh;
	min-width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #fff;
	border: 0.1rem solid rgb(160, 161, 163);
}

.wrapper__paragraph {
	margin-top: 2rem;
	font-size: 2rem;
	letter-spacing: 0.1rem;
	margin-bottom: 1rem;
	font-family: "Lato", sans-serif;
	font-family: "Permanent Marker", cursive;
}

.wrapper__input {
	margin-bottom: 2rem;
	border: none;
	text-align: center;
	height: 3rem;
	font-size: 1.3rem;
	border: 0.1px solid black;
}

.wrapper__comment-paragraph {
	margin-bottom: 1rem;
	font-weight: 500;
	letter-spacing: 0.1rem;

}

.wrapper__btn {
	width: 35%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1.5rem 0;
	height: 2.5rem;
	font-size: 1.2rem;
	border: 0.1px solid #000;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	font-weight: 600;
	cursor: pointer;
}

.wrapper__warning-paragraph{
	display: flex;
	justify-content: center;
	font-family: "Lato", sans-serif;
	font-family: "Permanent Marker", cursive;
	width: 100%;
	height: 5rem;

}